{% extends "base.html"%}

{% block content %} 
{% if message %}
    <h3 class="alert alert-info text-center">
        {{message}}
    </h3>
{% endif %}
<div class="mui-container">
    <h1>Add Video Games</h1>
    <form method='POST' action='/add' id="newGame" class="mui-form">
    <div>
        <div class="row">
            <div class="col-2 mui-textfield">
                <label for="steam_id">ID</label>
                <input type="text" min="0" name="steam_id" id="steam_id" required></input>
            </div>
            <div class="col-2 mui-textfield">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required></input>
            </div>
            <div class="col-3 mui-textfield">
                <label for="date">Release Date (MM-DD-YYYY)</label>
                <input type="text" name="date" id="date" required></input>
            </div>
        </div>
            <div class="row">
                <div class="col-3">
                    <h3>Language(s)</h3>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="1" name="languages"> Arabic
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="2" name="languages"> Bulgarian
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="3" name="languages"> Simplified Chinese
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="29" name="languages"> Traditional Chinese
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="4" name="languages"> Czech
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="5" name="languages"> Danish
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="6" name="languages"> Dutch
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="7" name="languages"> English
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="8" name="languages"> Finnish
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="9" name="languages"> French
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="10" name="languages"> German
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="11" name="languages"> Greek
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="12" name="languages"> Hungarian
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="13" name="languages"> Italian
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="14" name="languages"> Japanese
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="15" name="languages"> Korean
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="16" name="languages"> Norwegian
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="17" name="languages"> Polish
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="18" name="languages"> Portuguese
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="19" name="languages"> Portuguese - Brazil
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="20" name="languages"> Romanian
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="21" name="languages"> Russian
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="22" name="languages"> Spanish - Spain
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="23" name="languages"> Spanish - Latin America
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="24" name="languages"> Swedish
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="25" name="languages"> Thai
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="26" name="languages"> Turkish
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="27" name="languages"> Ukrainian
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="28" name="languages"> Vietnamese
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    <h3>Genre(s)</h3>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="1" name="genres"> Action
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="2" name="genres"> Adventure
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="3" name="genres"> Casual
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="4" name="genres"> Indie
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="5" name="genres"> Massively Multiplayer
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="6" name="genres"> Racing
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="7" name="genres"> RPG
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="8" name="genres"> Simulation
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="9" name="genres"> Sports
                        </label>
                    </div>
                    <div class="mui-checkbox">
                        <label>
                            <input type="checkbox" value="10" name="genres"> Strategy
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col">
                <input class="mui-btn mui-btn--raised" type="button" value="Add" id="btnAdd"></input>
            </div>
            </div>
        </form>

        <script>
            $("#btnAdd").click(function(e){
                var steam_id = $("input[id=steam_id]").val();
                var date = $('input[id=date]').val()
                console.log(steam_id)
                var id_valid = /\d+$/;
                var date_valid = new RegExp('^(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])-[0-9]{4}$');
                if (id_valid.test(steam_id) && date_valid.test(date)) {
                    var number_of_checked_language= $("input[name=languages]:checked").length;
                    var number_of_checked_genre = $("input[name=genres]:checked").length;
                    if(number_of_checked_language==0 && number_of_checked_genre==0){
                        alert("Please select at leat one language and at least one genre");
                    }
                    else if (number_of_checked_language==0) {
                        alert("Please select at leat one language")
                    }
                    else if (number_of_checked_genre==0) {
                        alert("Please select at least one genre")
                    }
                    else {
                        $("#newGame").submit();
                    }
                }
                else if (id_valid.test(steam_id)){
                    alert('Please enter a valid date');
                }
                else if (date_valid.test(date)) {
                    alert('Please enter a valid steam Id');
                }
                else {
                    alert('Please enter a valid steam Id and date');
                }
            });
        </script>
    </div>
</div>
</div>


{% endblock %}