<html>
  <head>
      <title>Final Projet</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="//cdn.muicss.com/mui-0.10.1/css/mui.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

    {% block content %} {% endblock %}

    <script src="//cdn.muicss.com/mui-0.10.1/js/mui.min.js"></script>
  </body>
</html>