{% extends "base.html"%}

{% block content %} 

<div>
    <h1>Welcome to Video Game selector!</h1>
    <div>
        <form method='post'>
            <div>
                <label for="videogame">Enter name of a game</label>
                <input type="text" name="videogame" id="videogame"></input>
                <input type="submit" value="Submit" name="submit" id="btnSub"></input>
            </div>
            <div>
                <input type="submit" value="Add" name="add" id="btnAdd"></input>
            </div>
            <div>
                <input type="submit" value="List all" name="listAll" id="btnList"></input>
            </div>
        </form>
    </div>
    <p>No game found</p>
    <div>
        <table>
            <thead>
                <th>Steam ID</th>
                <th>Name</th>
                <th>Release Date</th>
                <th>Languages</th>
                <th>Genres</th>
            </thead>
            <tbody id="tblBody">
                {% for game in results %}
                    <tr>
                        <td>{{ game.steam_id }}</td>
                        <td>{{ game.name }}</td>
                        <td>{{ game.release_date }}</td>
                        <td>{{ game.languages }}</td>
                        <td>{{ game.genres}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}