{% extends "base.html"%}

{% block content %} 

<div class="mui-container">
    <h1>All Games</h1>
    <div>
        <table class="mui-table mui-table--bordered" id="tblList">
            <thead>
                <th>Steam ID</th>
                <th>Name</th>
                <th>Release Date</th>
                <th>Languages</th>
                <th>Genres</th>
            </thead>
            <tbody>
                {% for game in results %}
                <tr>
                    <td>{{ game.steam_id }}</td>
                    <td>{{ game.name }}</td>
                    <td>{{ game.release_date }}</td>
                    <td>{{ game.languages }}</td>
                    <td>{{ game.genres}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>
            $(document).ready(function () {
                $("#tblList").DataTable();
            });
        </script>
    </div>
</div>

{% endblock %}